html {
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  width: 100%;
  background: #000a22;
  color: white;
}

a {
  text-decoration: none;
}
/*-------------------------------------------- HEADER ----------------------------------------------- */
#logo{
  margin-left: 20px;
  width: 48px;
  height: auto;
}

.topnav {
  /* background-color: #037e6b; */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7%;
  font-size: 1.2em;
  position: fixed;
  z-index: 2;
}

#contact-margin {
  margin-right: 30px;
}

.topnav_link {
  color: black;
  padding: 12px;
  text-decoration: none;
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

.snip1135 * {
  box-sizing: border-box;
}
.snip1135 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.snip1135 a {
  padding: 0.5em 0;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 16px;
}
.snip1135 a:before,
.snip1135 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1135 a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #294a95;
}

.snip1135 a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.snip1135 a:hover:before,
.snip1135 .current a:before {
  opacity: 1;
  width: 100%;
}
.snip1135 a:hover:after,
.snip1135 .current a:after {
  max-width: 100%;
}

@media only screen and (max-width: 1000px) {
  .title-presentation{
    margin-top: 30px;
    font-size: 34px;
  }

  /* hide classic menu */
  #topnav_menu {
    display: none;
  }

  .topnav {
    font-size: 1em;
    position: relative fixed;
  }

  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    min-width: 50vw;
    height: 35vh;
    padding: 56px 0 0;
    text-align: center;
    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }

  #topnav_responsive_menu li {
    padding: 12px 24px;
    font-size: 1.5em;
  }

  #topnav_responsive_menu a {
    white-space: nowrap;
    color: #333;
    text-decoration: none;
  }

  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }

  /* ******************** HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;
    background: #000;
    border-radius: 3px;
  }

  /* set the 3 spans position to look like a hamburger */

  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
  }
  
}

/*-------------------------------------------- Présentation ----------------------------------------- */
.title-presentation{
  margin: 8px;
  font-size: 34px;
}

.block_presentation {
  display: flex;
  flex-direction: row;
}

.block-moi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 1.3em;
  margin-top: 16vh;
  margin-bottom: 8vh;
}

@media (max-width: 1000px) {
  
  .block-moi {
    font-size: 1.4em;
    margin: auto;
    margin-top: 10vh;
    width: 80%;
  }
  #text-moi {
    text-align: justify;
    font-size: 1em;
    margin-bottom: 15%;
  }
}

/* ------------------ 3 blocks informations of me -------------------- */

#block-three-information{
  display: flex;
  justify-content: space-evenly;
}

.block-information{
  width: 30%;
  background-color: #011442;
}

.title-block-information{
  background-color: white;
  color: black;
  margin: 0;
  padding-left: 2vh;
}